<!DOCTYPE html>
<html>
  <head>
  
  </head>

  <body>
    <div class="jumbotron bg_img">
        <div class="container">
          <h1 class="display-3">Bienvenue sur EventBrite</h1>
          <p>Le leader de la création d'évènements</p>
          <% if current_user %>    
          <p><a class="btn btn-primary btn-lg" role="button"<%= link_to "Créer un event", new_event_path %></a></p>
           <% else %>
           <p><a class="btn btn-primary btn-lg" role="button"<%= link_to "Créer un event", new_user_session_path %></a></p>
         <% end %>
        </div>
      </div>

<!-- Page Content -->
<div class="container">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
    <div class="row justify-content-center">
 <h4> Voici la liste des évènements</h4>
</div>

<div class="row justify-content-center ">
  <% @events.each do |event| %>
    <div class="col-sm-5" style="padding: 20px">
      <div class="card border-info mb-3">
        <div class="card-header border-info mb-3 ">
          <h4><%= event.title %></h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Posté par  <%= event.admin.first_name %></h5>
          <%= link_to "Voir l'évènement", event_path(event.id), class:"btn btn-outline-dark" %>
        

        </div>
      </div>
    </div>
  <% end %>
</div>
     

      
    </div>
  </div>
</div>
